@import '../../node_modules/bootstrap/scss/mixins';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
// css para el navbar

.navbar-main {
    
    .div-logo {
        width: '20%';
        
        .img-logo {
            // width: 300px !important;
            width: fit-content;
        }
    }
    
    button {
        padding: 10px 50px !important;
        border: none !important;
        // border: 1px solid black;
    }

    
    // media queries
    @include media-breakpoint-down(md) {
        .img-logo {
            // border: 3px red solid !important;
            // width: 100px !important;
        }

        button {
            padding: 5px 10px !important;
            background-color: white;
            border: none;
            font-size: 15px !important;
        }
    }
}